@mixin transition($duration: 1s, $timingFunction: ease-in-out) {
  -webkit-transition:  -webkit-transform $duration $timingFunction;
  -moz-transition: -moz-transform $duration $timingFunction;
  -o-transition: -o-transform $duration $timingFunction;
  -ms-transition: -ms-transform $duration $timingFunction;
  transition: transform $duration $timingFunction;
}

@mixin scale($factor) {
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform:scale(1.2);
}

@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

$mobile: "only screen and (max-width: 1299px)";
$desktop: "only screen and (min-width: 1300px)";

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}
@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}
