// https://www.npmjs.com/package/node-sass
@import 'mixin';
@import url(normalize.css);

$baseThemeColor: #722D2A;
$baseTextColor: #722D2A;
$baseBgColor: #FFF8E9;

a {
  color: $baseTextColor;
  text-decoration: none;

  &:active, &.active {
    color: $baseThemeColor;
  }
}

html {
  background-color: $baseBgColor;
  color: $baseTextColor;

  font-family: 'Tangerine', cursive;
  //font-family: 'Nanum Myeongjo', serif;
  //font-family: 'Karma', serif;
  //font-family: 'Suranna', serif;
  //font-family: 'Bentham', serif;
}

ins {
  text-decoration: none;
}

.body_content {
  height: 100%;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
  width: 1250px;
  margin: 0 auto;
  padding-bottom: 50px;
}

header {
  background-color: darken($baseThemeColor, 10%);
  padding: 15px 40px;
  color: $baseBgColor;
}

.carousel {
  height: 800px;
  border-top: 3px solid $baseThemeColor;
  border-bottom: 3px solid $baseThemeColor;
  overflow: hidden;

  .carousel_item {
    height: 800px;
    width: 100%;
    background-image: url("haircut2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &.active {
      @include transition(6s, ease-in);
      @include scale(1.2);
    }
  }
}

.welcome {
  overflow: hidden;
  padding: 100px 70px;
  text-align: center;
  font-family: 'Bentham', serif;
  font-size: 24px;

  .adjectives {
    font-size: 30px;
    font-weight: 700;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-top: 10px;

    img {
      display: inline-block;
      width: 35%;
      border-radius: 3px;
    }
  }

  .description {
    display: inline-block;
    width: 50%;
    font-family: 'Bentham', serif;

    .short {
      font-size: 30px;
      padding-bottom: 15px;
      border-bottom: 1px dashed $baseTextColor; }
    .long { padding-top: 10px; }
  }
}
