// https://www.npmjs.com/package/node-sass
@import 'mixin';
@import url(normalize.css);

// https://www.color-hex.com/color-palette/72723
$color1: #f5f0e2;
$color2: #e4d9c5;
$color3: #eeeada;
$color4: #c4d1c6;
$color5: #e8e5db;

$link: #928991;
$text: #89928a;

a {
  color: $link;
  text-decoration: none;

  &:active, &.active {
    color: lighten($link, 20%);
  }

  &:visited {
    color: $text;
  }
}

html {
  background-color: $color1;
  color: $text;
  font-family: 'Bentham', serif;
}

.page {
  height: 100%;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
  width: 1250px;
  margin: 0 auto;
}

header {
  background-color: $color4;
  padding: 15px 40px;
  color: $text;
  border-bottom: 1px solid darken($color4, 20%)
}

.carousel {
  height: 800px;
  border-top: 3px solid $color4;
  border-bottom: 3px solid $color4;
  overflow: hidden;

  .carousel_item {
    height: 800px;
    width: 100%;
  }
}

.introduction {
  overflow: hidden;
  padding: 70px 0;
  text-align: center;
  font-family: 'Bentham', serif;
  font-size: 24px;

  .adjectives {
    font-size: 30px;
    font-weight: 700;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-top: 10px;

    img {
      display: inline-block;
      width: 35%;
      border-radius: 3px;
    }
  }

  .description {
    display: inline-block;
    width: 50%;

    .short {
      font-size: 30px;
      padding-bottom: 15px;
      border-bottom: 1px dashed $text; }
    .long { padding-top: 10px; }
  }
}
