// https://www.npmjs.com/package/node-sass
@import 'mixin';

// https://www.color-hex.com/color-palette/72723
$silver4: #AFC5D2;

$color1: #f5f0e2;
$color2: #e4d9c5;
$color3: #eeeada;
$color4: #c4d1c6;
$color5: #e8e5db;

$link: #928991;
$text: darken($silver4, 20%);
$anti-text: #33333b;

$font1: 'Open Sans', sans-serif;
$font2: 'Poiret One', cursive;

a {
  color: $link;
  text-decoration: none;

  &:active, &.active {
    color: lighten($link, 20%);
  }

  &:visited {
    color: $text;
  }
}

html {
  background-color: $color1;
  color: $text;
  font-family: $font2;
}

.english {
}

.chinese {
  display: none;
  font-family: 'DFKai-SB', 'STKaiti', serif;
}

.page {
  height: 100%;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
  margin: 0 auto;
  @include cell {
    width: 100%;
  }
  @include tablet {
    width: 100%;
  }
  @include desktop {
    width: 100%;
  }
  @include uhd {
    width: 1270px;
  }
}

header {
  background-color: $color4;
  padding: 15px 40px;
  color: $text;
  border-bottom: 1px solid darken($color4, 20%);
  display: flow-root; // clearfix
  font-family: $font1;

  span:nth-child(1) {
    float: left;
  }

  span:nth-child(2) {
    float: right;
  }
}

.carousel {
  height: 600px;
  overflow: hidden;
  background-color: black;
  color: $color3;

  @include cell {
    display: none;
  }
  @include tablet {
    display: none;
  }

  .carousel_item {
    height: 800px;
    width: 100%;
    @include center();
  }
}

.introduction {
  overflow: hidden;
  padding: 70px 0;
  text-align: center;
  font-size: 24px;
  font-family: $font1;
  color: $text;
  background-image: url("../asset/pattern/dark/diagmonds.png");

  .title {
    font-family: $font2;
    font-size: 30px;
    font-weight: 700;
  }

  .logo {
    width: 100%;
    height: 130px;
    @include center();
    padding: 40px 0;
    img {
      height: 100%;
    }
  }

  .description {
    display: inline-block;
    width: 50%;
    font-weight: 300;

    .short {
      font-size: 30px;
      padding-bottom: 40px;

      @include cell {
        padding-bottom: 0;
      }
      @include tablet {
        padding-bottom: 0;
      }

      .chinese {
        font-size: 20px;
      }
    }
    .long {
      padding-top: 40px;
      border-top: 1px dashed $text;

      @include cell {
        display: none;
      }
      @include tablet {
        display: none;
      }

      .english {
        font-size: 20px;
      }

      .chinese {
        font-size: 20px;
      }
    }
  }
}

.service {
  @include center();
  flex-wrap: wrap;
  background-image: url("../asset/pattern/white/cross_scratches_@2X.png");
  padding: 40px 0 80px 0;


  .title, .content {
    flex: 0 0 100%;
    @include center();
  }
  .title {
    font-size: 30px;
    font-weight: 700;
  }
  .content {
    padding-top: 40px;
    font-size: 20px;
    @include center();
  }

  .service-list {
    @include itemList();
    @include cell {
      border: none;
    }
  }

  .service-item {
    @include item();
  }

  .service-sub-item {
    @include subItem();
  }

  .service-sub-sub-item {
    padding: 10px 0 5px 40px;
  }
}

.hours {
  @include center();
  flex-wrap: wrap;
  padding: 40px 0;
  //background-image: url('pattern/dark/dark-triangles.png');
  background-image: url("../asset/pattern/dark/diagmonds.png");
  //background-image: url('pattern/dark/fancy-cushion.png');
  //background-image: url('pattern/dark/pinstriped_suit_@2X.png');
  //background-image: url('pattern/dark/stardust_@2X.png');
  //background-image: url('pattern/dark/starring_@2X.png');

  .title, .content {
    flex: 0 0 100%;
    @include center();
  }
  .title {
    font-size: 30px;
    font-weight: 700;
  }
  .content {
    padding-top: 40px;
    font-size: 20px;
  }

  .hours-list {
    @include itemList();

    @include cell {
      border: none;
    }
  }

  .hours-item {
    @include item();
  }
}

.location {
  @include center();
  flex-wrap: wrap;
  padding: 40px 0;
  background-image: url("../asset/pattern/white/cross_scratches_@2X.png");

  .title, .content {
    flex: 0 0 100%;
    @include center();
  }
  .title {
    font-size: 30px;
    font-weight: 700;
  }
  .content {
    height: 600px;
    margin-top: 20px;
    flex-wrap: wrap;

    color: $text;
    font-size: 16px;
  }
  .parking {
    flex: 0 0 auto;
    padding-bottom: 20px;
  }
}

.team {
  @include center();
  flex-wrap: wrap;
  padding: 40px 0;
  background-image: url('../asset/pattern/dark/diagmonds.png');

  .title, .content {
    flex: 0 0 100%;
    @include center();
  }
  .title {
    font-size: 30px;
    font-weight: 700;
  }
  .content {
    margin-top: 40px;
    font-size: 16px;
    flex-wrap: wrap;
    align-items: stretch;
  }

  @include cell {
    display: none;
  }
  @include tablet {
    display: none;
  }

  .staff {
    flex: 1 0 auto;
    @include center();
  }
  //.staff:nth-child(1) {
  //}
  //.staff:nth-child(2) {
  //}
  //.staff:nth-child(3) {
  //  background-color: rgba(red, 0.1);
  //}

  .avatar {
    background-color: #333;
    border: 1px solid #666;
    width: 390px;
    height: 528px;
    position: relative;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: border-color 0.3s;

    &:hover {
      border: 1px solid #777;

      .avatar-detail {
        height: 100px;
      }
    }
  }

  .avatar-summary {
    position: absolute;
    bottom: 0; left: 0; right: 0; top: auto;
    background-color: rgba(black, 0.6);
    padding: 20px;
    color: #eee;
    font-family: $font1;
    font-weight: 300;
  }

  .avatar-detail {
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
  }
}

.gallery {
  @include center();
  flex-wrap: wrap;
  padding: 40px 0 80px 0;
  position: relative;
  background-image: url("../asset/pattern/white/cross_scratches_@2X.png");

  .title, .content {
    flex: 0 0 100%;
    @include center();
  }
  .title {
    font-size: 30px;
    font-weight: 700;
  }
  .content {
    padding-top: 40px;
    font-size: 20px;
  }
}

footer {
  padding: 20px 0;
  font-size: 12px;
  background-image: url("../asset/pattern/dark/diagmonds.png");
  color: $color1;
  font-family: $font1;
  @include center();
}